
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Joanna C. S. Santos">
        <title>Dataset Overview</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'jss2017/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="{% static 'jss2017/bootstrap/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'jss2017/bootstrap/css/dashboard.css' %}" rel="stylesheet">


        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block html_head %}{% endblock %}
        <style>
            p {margin: 0px; }
            hr {margin-top: 10px; margin-bottom: 5px;}
            ul.codes li {list-style-type: none;}
            @media print { .no-print, .no-print * { display: none !important; } }
            .bd-callout,pre{ font-size: 10px; }
        </style>
        <script type="text/javascript">

        </script>
    </head>

  <body style="padding-top:0px;">



    <div class="container">
      <div class="row">
            <h2 class="page-header">Dataset Status</h2>
            <div class="col-sm-12">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr class="info">
                            <th>Case Study</th>
                            {% for vuln_type in vuln_types %}
                                <th>{{vuln_type}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for row in statistics %}
                            <tr>

                                {% for column in row %}
                                    <td>
                                        {{column}}
                                    </td>
                                {% endfor %}
                            </t>
                        {% endfor %}

                    </tbody>
                </table>
                <!--<p>Overlaps Firefox and Thunderbird: {{overlaps}}</p>-->
            </div>


      </div>
    </div>

    <!-- Bootstrap core JavaScript -  Placed at the end of the document so the pages load faster
    ================================================== -->
    <script src="{% static 'jss2017/bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'jss2017/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'jss2017/bootstrap/js/ie10-viewport-bug-workaround.js' %}"></script>


</body>
</html>




